@import 'Colors.scss';

$negro: #000000;
$blanco: #FFFFFF;
$gris: #DBDBDD;

// Tonos de rosa
$rosa-extra-claro: #FFF0F7;
$rosa-muy-claro: #FFE6F0;
$rosa-claro: #FFC1E3;
$rosa-medio: #FF8CBF;
$rosa-oscuro: #FF4D94;
$rosa-muy-oscuro: #C2185B;
$rosa-extra-oscuro: #8B0A36;

// Tonos de azul
$azul-extra-claro: #F0FBFF;
$azul-muy-claro: #E0F7FF;
$azul-claro: #AEE4FF;
$azul-medio: #64B5F6;
$azul-oscuro: #1976D2;
$azul-muy-oscuro: #0D47A1;
$azul-extra-oscuro: #062A64;

$colores-rosa: (
    extra-claro: #FFF0F7,
    muy-claro:   #FFE6F0,
    claro:       #FFC1E3,
    medio:       #FF8CBF,
    oscuro:      #FF4D94,
    muy-oscuro:  #c2185b,
    extra-oscuro:#8B0A36
);

// Tonos de azul
$colores-azul: (
    extra-claro: #F0FBFF,
    muy-claro:   #E0F7FF,
    claro:       #AEE4FF,
    medio:       #64B5F6,
    oscuro:      #1976D2,
    muy-oscuro:  #0D47A1,
    extra-oscuro:#062A64
);

// Colores de estado
$verde: #4CAF50;
$verde-oscuro: #428d45;
$amarillo: #FFC107;
$amarillo-oscuro: #ddaa11;
$rojo: #F44336;
$rojo-oscuro: #c73b31;
$azul-informacion: #2196F3;

// ===============================================================================

@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: normal;
    src: url('../font/lexend.woff') format('woff');
}

@mixin columna {
    display: flex;
    flex-direction: column;
}

@mixin fila {
    display: flex;
    flex-direction: row;
}

// Generador de clases
@each $nombre, $color in $colores-rosa {
    .bg-rosa-#{$nombre} {
        background-color: $color !important;
    }

    .txt-rosa-#{$nombre} {
        color: $color !important;

        &:hover {
            color: $color;
        }
    }
}

@each $nombre, $color in $colores-azul {
    .bg-azul-#{$nombre} {
        background-color: $color !important;
    }

    .txt-azul-#{$nombre} {
        color: $color !important;

        &:hover {
            color: $color;
        }
    }
}

* {
    margin: 0;
    padding: 0;

    &:not([class^="material-symbols-"]) {
        font-family: "Lexend", sans-serif !important;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:hover {
        text-decoration: none;
    }
}

// ----------------------------------------------------------------------------
//     ETIQUETAS SEMANTICAS
// ----------------------------------------------------------------------------

main {
    @include columna;
    min-height: 100vh;
    max-height: 100vh;
}

body::-webkit-scrollbar {
    width: 16px;
}

body::-webkit-scrollbar-track {
    background: $blanco;
    border-radius: 11px;
}

body::-webkit-scrollbar-thumb {
    background-color: #c2185b;
    border-radius: 11px;
    border: 4px solid $blanco;
}

input {
    border-color: $gris;
}

i {
    line-height: 1;
    
    &::before {
        display: block;
    }
}

// ----------------------------------------------------------------------------
//     BARRA DE NAVEGACION
// ----------------------------------------------------------------------------

nav {
    height: 4rem;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: .75rem 1rem;
    background-color: $blanco;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 30px 0px;

    img {
        height: 100%;
        user-select: none;
        -webkit-user-drag: none;

        &#titulo-app {
            height: 50%;
        }

        &#icono-app {
            filter: drop-shadow(0px 0px 0px $rosa-oscuro);
        }

        &#icono-perfil {
            transition: all ease-in .1s;
            cursor: pointer;

            &:active {
                transform: scale(0.9);
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            list-style: none;
            cursor: pointer;
            position: relative;
            padding: 0 10px;

            &:after {
                content: '';
                width: 0;
                height: 3px;
                background: $rosa-medio;
                position: absolute;
                left: 0;
                bottom: -5px;
                transition: 0.5s;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }

    a {
        text-decoration: none;
        user-select: none;
    }

    a, span {
        color: $negro;
    }

    .settings {
        display: flex;
        flex-direction: column;
        background-color: $blanco;
        gap: .5rem;
        padding: 1.5rem;
        border-radius: .25rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 30px 0px;
        position: fixed;
        right: 1rem;
        margin-top: 1.5rem;
        
        a {
            display: flex;
            align-items: center;
            gap: .25rem;
            color: $rosa-muy-oscuro !important;
            cursor: pointer;
            transition: all ease-in .2s;
            padding: .5rem 1rem;
            border-radius: .25rem;

            &:hover {
                background-color: $rosa-muy-oscuro;
                color: $blanco !important;
            }
        }
    }
}

// ----------------------------------------------------------------------------
//     LOADER
// ----------------------------------------------------------------------------

#loader {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 42, 100, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 10000;
}

// ----------------------------------------------------------------------------
//     BOTONES
// ----------------------------------------------------------------------------

button {
    border: none;
    border-radius: .25rem;
    padding: .5rem 1rem;
    transition: all ease-in .2s;

    &#login {
        position: fixed;
        top: 1rem;
        right: 1rem;
        display: flex;
        gap: .5rem;
    }

    &.btn-pink {
        background-color: $rosa-muy-oscuro;
        color: $blanco;

        &:hover {
            background-color: $rosa-extra-oscuro;
        }
    }

    &.btn-blue {
        background-color: $azul-muy-oscuro;
        color: $blanco;

        &:hover {
            background-color: $azul-extra-oscuro;
        }
    }
}

article {
    @include fila;
    z-index: 2;
    min-height: calc(100vh - 4rem);
    max-height: calc(100vh - 4rem);
    padding: 2rem;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;

    &#daily-data {
        margin-top: 10px;
        margin-bottom: 10px;
        scrollbar-width: none;
        gap: 2rem;
        padding: 8px;
    }
}

.selected-day {

    &--info {
        display: flex;
        align-items: center;
        gap: .5rem;
        color: $blanco;
        font-size: 20px;
    }

    &--controller {
        display: flex;
        gap: .5rem;

        button {
            display: flex;
            align-items: center;
            gap: .25rem;
            border-radius: .25rem;

            svg {
                height: 30px;
                width: auto;
            }
        }
        
        .blood {
            &-confirm {
                color: $blanco;
                background-color: map-get($map: $pink-palette, $key: p-4);

                &:hover {
                    background-color: map-get($map: $pink-palette, $key: p-5);
                }
            }

            &-delete {
                color: map-get($map: $pink-palette, $key: p-5);
                background-color: map-get($map: $bw-palette, $key: bw-0);

                &:hover {
                    background-color: map-get($map: $bw-palette, $key: bw-1);
                }
            }
        }
    }

}

// ----------------------------------------------------------------------------
//   ELEMENTS
// ----------------------------------------------------------------------------

.form-property {
    display: flex;
    flex-direction: column;

    &.property-contained {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 15px 0px;
        border-radius: .25rem;
        background: #fff;
        padding: 2rem;
        gap: 1rem;

        .form-check-input { 
            cursor: pointer;
            border: 2px solid $azul-oscuro;

            &:checked {
                background-color: $azul-oscuro;
                border-color: $azul-oscuro;
            }
            &:focus {
                box-shadow: none;
            }
        }
    }

    h5 {
        color: $rosa-oscuro;
        font-weight: bold;
        margin: 0;
    }
}

.expand-option {

    &.expanded .expanded-container {
        display: flex !important;
    }

    &.delete-icon .expanded-container {
        background-color: $rojo;
        position: absolute;
        display: none;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        border-radius: .25rem;
        color: $blanco;
        width: max-content;
        margin-left: 2rem;
        margin-top: calc(-32px - .5rem);
        user-select: none;

        button {
            display: flex;
            align-items: center;
            gap: .5rem;
            background-color: $blanco;
            color: $rojo-oscuro !important;
            transition: all ease-in .2s;

            &:hover {
                background-color: $gris;
            }
        }
    }
}

.icon-item {
    color: $azul-oscuro;
    border: 2px solid $azul-oscuro;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1.25rem;
    width: fit-content;
    border-radius: 1.5rem;
    user-select: none;
    cursor: pointer;
    transition: all ease-in .2s;

    &.selected {
        background-color: $azul-oscuro;
        color: $blanco;

        &:hover {
            border-color: $azul-muy-oscuro;
            background-color: $azul-muy-oscuro;
        }
    }

    &:hover {
        background-color: $azul-muy-claro;
    }

    .MuiSvgIcon-root {
        height: 20px;
        width: auto;
    }
}

.icon-btn {
    transition: all ease-in .2s;
    border-radius: .25rem;
    padding: .5rem;
    cursor: pointer;

    svg {
        fill: $blanco !important;
    }

    > .fi {
        color: $blanco !important;
    }

    &[disabled] {
        background-color: #b1b1b1 !important;
    }

    &.edit-icon {
        background-color: $amarillo;

        &:hover {
            background-color: $amarillo-oscuro;
        }
    }

    &.delete-icon {
        background-color: $rojo;

        &:hover {
            background-color: $rojo-oscuro;
        }
    }

    &.success-icon {
        background-color: $verde;

        &:hover {
            background-color: $verde-oscuro;
        }
    }

    &.blue-icon {
        background-color: $azul-oscuro;

        &:hover {
            background-color: $azul-muy-oscuro;
        }
    }

    &--single {
        padding: 0;

        &.location-icon {
            color: $rojo;
        }

        &.calendar-icon {
            color: $rosa-medio;
        }
    }
}

// ----------------------------------------------------------------------------
//   Popovers
// ----------------------------------------------------------------------------

.popover {
    border-radius: .25rem;
    border-color: $gris;
    max-width: 400px;

    .popover-body {

        strong {
            font-size: 17px;
        }

        p {
            text-align: justify;
            text-justify: inter-word;
        }
    }
}

.bs-popover-end > .popover-arrow::before {
    border-left-color: $gris;
}

// ----------------------------------------------------------------------------
//   Modales
// ----------------------------------------------------------------------------

.modal {

    .modal-header {
        justify-content: space-between;
    }

    .modal-title {
        color: $rosa-oscuro;
        font-weight: bold;
    }
}

// Formulario de crear recordatorio
#form-create-reminder {
    @include columna;
    gap: 1rem;
}

.form-control {
    resize: none;
    transition: all 100ms;
    -webkit-transition: all 100ms;
    border-radius: 0.25rem;
    border-color: #cccccc;

    &:focus {
        outline: 0 !important;
        transition: all 100ms;
        background-color: hsl(0, 0%, 100%);
        border-color: $azul-oscuro;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 0 0 1px $azul-oscuro;
    }

    &.time-picker {
        width: 4rem;
    }
}

    .form-check-input {
        &:focus {
            box-shadow: none;
        }

        &:checked {
            background-color: $azul-medio;
            border-color: $azul-medio;
        }
    }

    .input-group {
        gap: 1rem;

        .btn {
            padding: .5rem;
            border-radius: 0.25rem;
            border: none;
        }
    }

    .sub-input {
        border-left: 3px solid #cccccc;
        padding-left: 1.5rem;
    }

    .btn-group {
        gap: .25rem;

        .btn {
            border-radius: 0.25rem;
            border: none;
            background-color: $azul-oscuro;

            &:hover {
                background-color: $azul-muy-oscuro;
            }

            &.selected {
                background-color: $azul-extra-oscuro;
            }
        }
    }

.new-guest {
    display: flex;
    align-items: center;
    background-color: $rosa-extra-oscuro;
    width: fit-content;
    color: $blanco;
    padding: .5rem;
    gap: .5rem;
    border-radius: 0.25rem;

    i {
        cursor: pointer;
    }
}

.mini-table {
    tr {
        border: 2px solid $rosa-muy-oscuro
    }

    td {
        padding: .5rem;
        text-align: left;

        &.td-label {
            background-color: $rosa-muy-oscuro;
            color: $blanco;
        }
    }
}

// ----------------------------------------------------------------------------
//     Reminders
// ----------------------------------------------------------------------------

[page="reminders"] {
    @include columna;

    h1 {
        color: $rosa-oscuro;
        margin: 0;
        font-weight: bold;
    }

    .dt-container {
        @include columna;
        flex: 1;
        height: 100%;
        padding: 2rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 15px 0px;

        .dt-layout-row {
            
            &:first-child {
                margin-top: 0;
                flex-direction: row-reverse;
                gap: 4rem;

                .dt-layout-cell {
                    margin: 0;

                    &.dt-layout-end {
                        flex: 1;
                    }
                }
            }

            &:nth-child(3){
                margin-bottom: 0;

                .dt-layout-end {
                    margin: 0;
                    flex: 1;

                    .dt-paging {
                        flex: 1;
                        display: flex;
                        justify-content: center;

                        nav {
                            width: fit-content;
                            background-color: map-get($map: $pink-palette, $key: p-4);
                            justify-content: center;
                            border-radius: .25rem;
                            box-shadow: none;

                            button {
                                cursor: pointer !important;
                                color: $blanco !important;

                                &:hover {
                                    color: map-get($map: $blue-palette, $key: b-2) !important;
                                }
                            }
                        }
                    }
                }
            }

            .dt-search {
                @include fila;
                align-items: center;
                flex: 1;

                label {
                    height: 40px;
                    margin-left: .5rem;
                    position: absolute;
                    display: flex;
                    align-items: center;

                    i {
                        width: 1rem;

                        &::before {
                            font-size: inherit;
                            line-height: inherit;       
                        }
                    }
                }

                input {
                    width: 100%;
                    height: 40px;
                    margin: 0;
                    padding: .5rem 1rem .5rem 2rem;
                    border-color: #cccccc;
                }
            }

            &.dt-layout-table {
                flex: 1;
                align-items: flex-start;

                .dataTable {

                    th {
                        background-color: $azul-oscuro;
                        color: $blanco;
                        padding: .5rem 1rem;
                        text-align: left !important;
                    }

                    td {
                        padding: 1rem;
                        background-color: $blanco;
                        box-shadow: none;
                        text-align: left !important;

                        &:last-child {
                            padding: 0;
                        }
                    }

                    tr {
                        border-color: $gris;
                    }

                    .dt-empty {
                        text-align: center !important;
                        padding: 1rem 0 !important;
                        font-weight: bold;
                        color: $rojo-oscuro;
                    }

                    .tr-selectable {
                        cursor: pointer;

                        td {
                            transition: all ease-in .2s;
                        }

                        &:hover td{
                            background-color: $azul-extra-claro;
                        }

                        &.tr-selected {
                            td {
                                background-color: $azul-claro; 
                            }  

                            &:hover td {
                                background-color: $rosa-claro;
                            }
                        }
                    }

                    .form-check-input {
                        width: 20px;
                        height: 20px;
                        vertical-align: text-top;
                        cursor: pointer;
                        margin: 0;

                        &:focus {
                            box-shadow: none;
                        }

                        &:checked {
                            border-color: #64646f80;
                            background-color: #64646f80;
                        }
                    }
                }
            }    
        }
    }

    #reminders-panel > div {
        flex: 1;
    }

    #add-reminder, #edit-reminder {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    // Contenedor de editar y vista previa de recordatorio
    #reminder-editor {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 15px 0px;
        width: 700px;

        .property-label {
            color: $azul-muy-oscuro;
            font: {
                size: 20px;
                weight: bold;
            }
        }
    }
}