$negro: #000000;
$blanco: #FFFFFF;
$gris: #DBDBDD;

$bw-palette: (
    bw-0: #ffffff,
    bw-1: #f5f5f4,
    bw-2: #e7e5e4,
    bw-3: #cccccc,
    bw-4: #a6a09b,
    bw-5: #79716b,
    bw-6: #57534d,
    bw-7: #44403b,
    bw-8: #292524,
    bw-9: #1c1917,
    bw-10: #000000,
);


$pink-palette: (
    p-0: #FFF0F7,
    p-1: #FFE6F0,
    p-2: #FFC1E3,
    p-3: #FF8CBF,
    p-4: #FF4D94,
    p-5: #c2185b,
    p-6: #8B0A36
);

// Tonos de azul
$blue-palette: (
    b-0: #F0FBFF,
    b-1: #E0F7FF,
    b-2: #AEE4FF,
    b-3: #64B5F6,
    b-4: #1976D2,
    b-5: #0D47A1,
    b-6: #062A64
);

// Colores de estado
$verde: #4CAF50;
$verde-oscuro: #428d45;
$amarillo: #FFC107;
$amarillo-oscuro: #ddaa11;
$rojo: #F44336;
$rojo-oscuro: #c73b31;
