.estadisticas-header {
  margin-bottom: 5rem;
}
.estadisticas-header h1 {
  font-size: 60px;
}
.estadisticas-reporte--titulo {
  font-weight: bold;
  font-size: 25px;
  color: #1976D2;
  margin: 0;
}
.estadisticas-reporte--mini-tabla td {
  padding: 0.5rem !important;
  border: 1px solid #1976D2;
}
.estadisticas-reporte--mini-tabla tr td:first-child {
  color: white;
  background-color: #1976D2;
}
.estadisticas-reporte.reporte-tabla > div {
  width: 100%;
}
.estadisticas-reporte.reporte-tabla > div .dt-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row:first-child {
  margin-top: 0;
  flex-direction: row-reverse;
  gap: 4rem;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row:first-child .dt-layout-cell {
  margin: 0;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row:first-child .dt-layout-cell.dt-layout-end {
  flex: 1;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row:nth-child(3) {
  margin-bottom: 0;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row:nth-child(3) .dt-layout-end {
  margin: 0;
  flex: 1;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row:nth-child(3) .dt-layout-end .dt-paging {
  flex: 1;
  display: flex;
  justify-content: center;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row:nth-child(3) .dt-layout-end .dt-paging nav {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #FF4D94;
  justify-content: center;
  border-radius: 0.25rem;
  box-shadow: none;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row:nth-child(3) .dt-layout-end .dt-paging nav button {
  cursor: pointer !important;
  color: #FFFFFF !important;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row:nth-child(3) .dt-layout-end .dt-paging nav button:hover {
  color: #AEE4FF !important;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row .dt-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row .dt-search label {
  height: 40px;
  margin-left: 0.5rem;
  position: absolute;
  display: flex;
  align-items: center;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row .dt-search label i {
  width: 1rem;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row .dt-search label i::before {
  font-size: inherit;
  line-height: inherit;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row .dt-search input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 2rem;
  border-color: #cccccc;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row.dt-layout-table {
  flex: 1;
  align-items: flex-start;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row.dt-layout-table .dataTable th {
  background-color: #1976D2;
  color: #FFFFFF;
  padding: 0.5rem 1rem;
  text-align: left !important;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row.dt-layout-table .dataTable td {
  padding: 1rem;
  background-color: #FFFFFF;
  box-shadow: none;
  text-align: left !important;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row.dt-layout-table .dataTable td:last-child {
  padding: 0;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row.dt-layout-table .dataTable tr {
  border-color: #DBDBDD;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row.dt-layout-table .dataTable .dt-empty {
  text-align: center !important;
  padding: 1rem 0 !important;
  font-weight: bold;
  color: #c73b31;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row.dt-layout-table .dataTable .tr-selectable {
  cursor: pointer;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row.dt-layout-table .dataTable .tr-selectable td {
  transition: all ease-in 0.2s;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row.dt-layout-table .dataTable .tr-selectable:hover td {
  background-color: #AEE4FF;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row.dt-layout-table .dataTable .tr-selectable.tr-selected td {
  background-color: #64B5F6;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row.dt-layout-table .dataTable .tr-selectable.tr-selected:hover td {
  background-color: #FFC1E3;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row.dt-layout-table .dataTable .form-check-input {
  width: 20px;
  height: 20px;
  vertical-align: text-top;
  cursor: pointer;
  margin: 0;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row.dt-layout-table .dataTable .form-check-input:focus {
  box-shadow: none;
}
.estadisticas-reporte.reporte-tabla > div .dt-container .dt-layout-row.dt-layout-table .dataTable .form-check-input:checked {
  border-color: rgba(100, 100, 111, 0.5019607843);
  background-color: rgba(100, 100, 111, 0.5019607843);
}
.estadisticas-exportar {
  position: fixed;
  display: flex;
  bottom: 2rem;
  right: 2rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.egg {
  z-index: -1;
  position: absolute;
  background: radial-gradient(circle at center, #f4dada 0%, #f2bebe 100%);
  border-radius: 50%;
  border: 2px solid #d08c8c;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  animation: float 5s ease-in-out infinite;
  box-shadow: 0 0 4px rgba(255, 182, 193, 0.6);
}

.nucleus {
  width: 30%;
  height: 30%;
  background-color: #a25d5d;
  border-radius: 50%;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}/*# sourceMappingURL=Estadisticas.css.map */