@import 'Colors.scss';

.estadisticas {

    &-header {
        margin-bottom: 5rem;

        h1 {
            font-size: 60px;
        }
    }

    &-reporte {

        &--titulo {
            font: {
                weight: bold;
                size: 25px;
            }
            color: map-get($map: $blue-palette, $key: b-4);
            margin: 0;
        }

        &--mini-tabla {

            td {
                padding: .5rem !important;
                border: 1px solid map-get($map: $blue-palette, $key: b-4);
            }

            tr td:first-child {
                color: white;
                background-color: map-get($map: $blue-palette, $key: b-4);
            }
        }

        &.reporte-tabla {

            & > div {
                width: 100%;

                .dt-container {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    height: 100%;

                    .dt-layout-row {
                        
                        &:first-child {
                            margin-top: 0;
                            flex-direction: row-reverse;
                            gap: 4rem;

                            .dt-layout-cell {
                                margin: 0;

                                &.dt-layout-end {
                                    flex: 1;
                                }
                            }
                        }

                        &:nth-child(3){
                            margin-bottom: 0;

                            .dt-layout-end {
                                margin: 0;
                                flex: 1;

                                .dt-paging {
                                    flex: 1;
                                    display: flex;
                                    justify-content: center;

                                    nav {
                                        width: fit-content;
                                        background-color: map-get($map: $pink-palette, $key: p-4);
                                        justify-content: center;
                                        border-radius: .25rem;
                                        box-shadow: none;

                                        button {
                                            cursor: pointer !important;
                                            color: $blanco !important;

                                            &:hover {
                                                color: map-get($map: $blue-palette, $key: b-2) !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .dt-search {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            flex: 1;

                            label {
                                height: 40px;
                                margin-left: .5rem;
                                position: absolute;
                                display: flex;
                                align-items: center;

                                i {
                                    width: 1rem;

                                    &::before {
                                        font-size: inherit;
                                        line-height: inherit;       
                                    }
                                }
                            }

                            input {
                                width: 100%;
                                height: 40px;
                                margin: 0;
                                padding: .5rem 1rem .5rem 2rem;
                                border-color: #cccccc;
                            }
                        }

                        &.dt-layout-table {
                            flex: 1;
                            align-items: flex-start;

                            .dataTable {

                                th {
                                    background-color: map-get($map: $blue-palette, $key: b-4);
                                    color: $blanco;
                                    padding: .5rem 1rem;
                                    text-align: left !important;
                                }

                                td {
                                    padding: 1rem;
                                    background-color: $blanco;
                                    box-shadow: none;
                                    text-align: left !important;

                                    &:last-child {
                                        padding: 0;
                                    }
                                }

                                tr {
                                    border-color: $gris;
                                }

                                .dt-empty {
                                    text-align: center !important;
                                    padding: 1rem 0 !important;
                                    font-weight: bold;
                                    color: $rojo-oscuro;
                                }

                                .tr-selectable {
                                    cursor: pointer;

                                    td {
                                        transition: all ease-in .2s;
                                    }

                                    &:hover td{
                                        background-color: map-get($map: $blue-palette, $key: b-2);
                                    }

                                    &.tr-selected {
                                        td {
                                            background-color: map-get($map: $blue-palette, $key: b-3); 
                                        }  

                                        &:hover td {
                                            background-color: map-get($map: $pink-palette, $key: p-2);
                                        }
                                    }
                                }

                                .form-check-input {
                                    width: 20px;
                                    height: 20px;
                                    vertical-align: text-top;
                                    cursor: pointer;
                                    margin: 0;

                                    &:focus {
                                        box-shadow: none;
                                    }

                                    &:checked {
                                        border-color: #64646f80;
                                        background-color: #64646f80;
                                    }
                                }
                            }
                        }    
                    }
                }
            }
        }
    }

    &-exportar {
        position: fixed;
        display: flex;
        bottom: 2rem;
        right: 2rem;
        flex-direction: column;
        align-items: flex-end;
        gap: .5rem;
    }
}


.egg {
    z-index: -1;
    position: absolute;
    background: radial-gradient(circle at center, #f4dada 0%, #f2bebe 100%);
    border-radius: 50%;
    border: 2px solid #d08c8c;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    animation: float 5s ease-in-out infinite;
    box-shadow: 0 0 4px rgba(255, 182, 193, 0.6);
}

.nucleus {
    width: 30%;
    height: 30%;
    background-color: #a25d5d;
    border-radius: 50%;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-3px); }
}

